body {
    background-color: var(--cor-de-fundo);
    color: var(--black);
    font-family: 'Chakra Petch', sans-serif;
}
 h1{
    color:#ffc0d5
 }
:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #ffffff;
    --botao-ativo: hwb(245 22% 64%);
    --botao-inativo: #3a375e80;
    --texto-fundo: #3a375e4d;